path{
    fill:transparent;
    stroke:rgb(243, 243, 243);
    stroke-width: 1.2px;
    stroke-dasharray: 7200;
    stroke-dashoffset: 7200;
 animation-name: test;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: forward;
}

@keyframes test {
    0%{
        stroke-dashoffset: 7200;
    }
    100%{
        fill:rgba(81, 6, 255, 0.887);
        stroke-dashoffset:0;
    }
}